<div>
  <form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
    <label for="name">Todo title</label>
    <input
      type="text"
      id="name"
      required=""
      [(ngModel)]="todo.title"
      name="title"
    />
    <br />
    <label for="body">Body</label>
    <textarea
      id="body"
      type="text"
      required
      [(ngModel)]="todo.body"
      name="body"
    ></textarea>
    <br />
    <br />
    <button type="submit" [disabled]="!todoForm.form.valid">Add</button>
  </form>
</div>
